<template>
  <section class="container">
    <Header></Header>
    <router-view class="column"></router-view>
    <Footer></Footer>
  </section>
</template>

<script>
import Header from './views/Header';
import Footer from './views/Footer';

export default {
  components: {Header, Footer},
}
</script>

<style lang="scss" scoped>
  section.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
</style>
