@import url("font/lobster.css");
@import url("font/robotoslab.css");
@import url("font/materialicons.css");

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1 0 auto;
}

body > footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
}

body {
    font-size: .875rem;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    font-family: "Lobster", Comic Sans MS, Comic Sans, cursive;
}

/* main navigation */

.menu__item {
    display: block;
    width: 100%;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

a.menu__item:hover {
    text-decoration: none;
}

/* /main navigation */

/****** single product page ******/

#product h1 {
    font-size: 1.75rem;
}

#product .card-header {
    font-size: 1.25rem;
    line-height: 1.2;
}

/****** /single product page ******/

/****** single page ******/

#page h1 {
    font-size: 1.75rem;
}

#page h2 {
    font-size: 1.5rem;
}

#page table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

#page table td, #page table thead th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#page table thead th {
    text-align: center;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


/****** /single page ******/

.navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem; } 
  .navbar-nav-scroll .pagination {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; }

.intro-header {
    font-family: "Lobster", Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: #f8f8f8;
    background: url(http://php.shapki-dart.ru/img/main-block-header.jpg) no-repeat center 43%;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    display: block;
    margin: 0 auto;
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
    font-size: 80%;
}

@media(max-width:767px) {
    .intro-message {
    padding-bottom: 15%;
    }
    .intro-message>h1 {
    font-size: 3em;
    }
    ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
    }
    .intro-divider {
    width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 25px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 25px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(http://php.shapki-dart.ru/img/main-block-footer.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    font-weight: 700;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 1.7em;
    }
    ul.banner-social-buttons>li {
    /*display: block;*/
    margin-bottom: 20px;
    padding: 0;
    }
    ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
    }
}



p.copyright {
    margin: 15px 0 0;
}

.img-product {
    width: 100%;
    height: 24rem;
    background: #fff url("http://placehold.it/370x320") 50% 50% no-repeat;
    background-size: contain;
    cursor: pointer;
}

.btn .material-icons {
    vertical-align: top;
    font-size: 1.5em;
}

.cart-thumbs {
    width: 5rem;
    height: 6.2rem;
    float: left;
    margin-right: .5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel-indicators-static.carousel-indicators {
    position: static;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: normal;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators .carousel-thumbs {
    opacity: .6;
    width: 20%;
    margin-top: 1rem;
    margin-left: 6.66%;
    cursor: pointer;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.carousel-indicators .carousel-thumbs:nth-child(4n+1) {
    margin-left: 0;
}

.carousel-indicators .carousel-thumbs.active {
    opacity: 1;
    cursor: auto;
}

.cart-action {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cart-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}
.cart-spinner svg {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.order-group {
    position: absolute; 
    padding: .75rem 1.25rem; 
    white-space: nowrap;
}

.order-current {
    background: transparent;
    border: 0;
    width: 13px;
    text-align: center;
}

.order-control {
    position: absolute;  
    padding: 0px .4rem;
    cursor: pointer;
}

.order-control.order-dec {
    left: 0;
}

.order-control.order-inc {
    right: 0;
}

@media (max-width: 575.98px) { 
    .pagination a[rel="prev"]:after {
        content: ' ' attr(aria-label);
    }

    .pagination a[rel="next"]:before {
        content: attr(aria-label) ' ';
    }
}

@media print {
    body {
        font-size: .8rem;
    }

    body > header, body > footer {
        display: none;
    }

    h1, .h1 {
        font-size: 2rem;
    }

    h2, .h2 {
        font-size: 1.6rem;
    }

    h3, .h3 {
        font-size: 1.4rem;
    }

    h4, .h4 {
        font-size: 1.2rem;
    }

    h5, .h5 {
        font-size: 1rem;
    }

    .table td, .table th {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .form-control {
        font-size: .8rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
    }

    .hidden-print {
        display: none;
    }

    .cart-thumbs {
        width: 2.5rem;
        height: 3rem;
    }
}


/* ----------------------------------------------- */


.order-group {
    position: absolute; 
    padding: .75rem 1.25rem; 
    white-space: nowrap;
}

.order-current {
    background: transparent;
    border: 0;
    width: 13px;
    text-align: center;
}

.order-control {
    position: absolute;  
    padding: 0px .4rem;
    cursor: pointer;
}

.order-control.order-dec {
    left: 0;
}

.order-control.order-inc {
    right: 0;
}

.upload-finished-title:last-child {
    display: none;
}

#template {
    display: none;
}

#upload-progress {
    opacity: 0;
}

.images-container {
    color: #ccc;
    background-color: #f8f9fa;
    text-align: center;
    border-style: dashed;
    border-color: #ccc;
    border-width: 2px;
    line-height: 10rem;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.images-container.dz-clickable {
    cursor: pointer;
}

.images-container.dz-drag-hover {
    color: #6c757d;
    border-color: #6c757d;
}

/* Contact Chips */

.chip {
    display: inline-block;
    padding: 0 1.5rem;
    line-height: 2rem;
    border-radius: 1.5rem;
    background-color: #f1f1f1;
    margin-bottom: .25rem;
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: .5rem;
}

.chip:last-of-type {
    margin-right: 0;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip.with-close:before { 
    content:"\00d7";
    padding-left: 1rem;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn {
    padding-left: 1rem;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.highlighted {
    color: #f44336;
}



/* --------------------------------------- */

/*body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}*/

/*
 * Sidebar
 */

/*.sidebar {*/
  /* position: fixed; */
/*  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;*/ /* Behind the navbar */
 /* padding: 48px 0 0;*/ /* Height of navbar */
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
/*}*/

/*.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; *//* Scrollable contents if viewport is shorter than content. */
/*}*/

/*@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}*/

/*
 * Content
 */

/*[role="main"] {
  padding-top: 48px; *//* Space for fixed navbar */
/*}*/

/*
 * Navbar
 */

/*.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}*/
