@import url("font/lobster.css");
@import url("font/robotoslab.css");
@import url("font/materialicons.css");

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

body > main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

body > footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
}

body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    font-family: "Lobster", Comic Sans MS, Comic Sans, cursive;
}

/****** Navigation ******/

.menu__item {
    display: block;
    width: 100%;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

a.menu__item:hover {
    text-decoration: none;
}

.navigation__block {
    font-size: .875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem; 
    background-color: #f8f9fa;
    border-radius: .25rem;
}

.navigation-breadcrumb__block, .navigation-search__block {
    padding: .5rem;
    margin-bottom: 0;
}

.navigation-breadcrumb__block {
    padding: .825rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
}

.navigation-search__block {
    margin-left: auto;
}

/****** /Navigation ******/

/****** single product page ******/

#product h1 {
    font-size: 1.75rem;
}

#product .card-header {
    font-size: 1.25rem;
    line-height: 1.2;
}

/****** /single product page ******/

/****** single page ******/

#page h1 {
    font-size: 1.75rem;
}

#page h2 {
    font-size: 1.5rem;
}

#page table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

#page table td, #page table thead th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#page table thead th {
    text-align: center;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.bar-diagonal__wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height:  100%;
}

.bar-diagonal__block {
    position: absolute;
    top: 4rem;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    background-color: rgba(255, 235, 59, 0.4);
    text-align: center;
    color: rgba(244, 67, 54, 0.9);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
}

.product-card .bar-diagonal__block {
    left: -3rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#product {
    position: relative;
}

#product .bar-diagonal__block {
    max-width: 20rem;
    right: -5rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

/****** /single page ******/

.navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem; } 
  .navbar-nav-scroll .pagination {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; }

.intro-header {
    font-family: "Lobster", Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: #f8f8f8;
    background: url(http://php.shapki-dart.ru/img/main-block-header.jpg) no-repeat center 43%;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    display: block;
    margin: 0 auto;
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
    font-size: 80%;
}

@media(max-width:767px) {
    .intro-message {
    padding-bottom: 15%;
    }
    .intro-message>h1 {
    font-size: 3em;
    }
    ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
    }
    .intro-divider {
    width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 25px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 25px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(http://php.shapki-dart.ru/img/main-block-footer.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    font-weight: 700;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 1.7em;
    }
    ul.banner-social-buttons>li {
    /*display: block;*/
    margin-bottom: 20px;
    padding: 0;
    }
    ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
    }
}



p.copyright {
    margin: 15px 0 0;
}

.img-product {
    width: 100%;
    height: 24rem;
    background: #fff url("http://placehold.it/370x320") 50% 50% no-repeat;
    background-size: contain;
    cursor: pointer;
}

.btn .material-icons {
    vertical-align: top;
    font-size: 1.5em;
}

.carousel-indicators-static.carousel-indicators {
    position: static;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: normal;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators .carousel-thumbs {
    opacity: .6;
    width: 20%;
    margin-top: 1rem;
    margin-left: 6.66%;
    cursor: pointer;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.carousel-indicators .carousel-thumbs:nth-child(4n+1) {
    margin-left: 0;
}

.carousel-indicators .carousel-thumbs.active {
    opacity: 1;
    cursor: auto;
}

#product .carousel-caption {
    bottom: 0;
    padding-bottom: 0;
}
#product .carousel-caption p {
    text-shadow: 2px 1px 4px #e9ecef;
}

.req-flag {
    color: #dc3545;
}

.cart-qty__title, .cart-price__title {
    min-width: 120px;
    width: 120px;
}
    .cart-qty__title {
        text-align: center;
    }

.cart-thumbs {
    width: 5rem;
    height: 6.2rem;
    float: left;
    margin-right: .5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.cart-action {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cart-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}
    .cart-spinner svg {
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }

.order-group {
    position: absolute; 
    padding: .75rem 1.25rem; 
    white-space: nowrap;
}

.order-current {
    background: transparent;
    border: 0;
    width: 13px;
    text-align: center;
}

.order-control {
    position: absolute;  
    padding: 0px .4rem;
    cursor: pointer;
}

.order-control.order-dec {
    left: 0;
}

.order-control.order-inc {
    right: 0;
}

@media (max-width: 575.98px) { 
    .pagination a[rel="prev"]:after {
        content: ' ' attr(aria-label);
    }

    .pagination a[rel="next"]:before {
        content: attr(aria-label) ' ';
    }
}

@media print {
    body {
        font-size: .8rem;
    }

    body > header, body > footer {
        display: none;
    }

    h1, .h1 {
        font-size: 2rem;
    }

    h2, .h2 {
        font-size: 1.6rem;
    }

    h3, .h3 {
        font-size: 1.4rem;
    }

    h4, .h4 {
        font-size: 1.2rem;
    }

    h5, .h5 {
        font-size: 1rem;
    }

    .table td, .table th {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .form-control {
        font-size: .8rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
    }

    .hidden-print {
        display: none;
    }

    .cart-thumbs {
        width: 2.5rem;
        height: 3rem;
    }
}
