<template>
  <main class="columns is-multiline is-mobile">
    <Sidebar></Sidebar>
    <router-view class="column"></router-view>
  </main>
</template>

<script>
import Sidebar from './Sidebar';

export default {
  name: 'Layout',
  components: {Sidebar},
}
</script>

<style lang="scss" scoped>
main {
  flex: 1;
}
</style>
