<template>
  <aside class="menu column is-one-quarter">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><router-link to="/users">Пользователи</router-link></li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar',
}
</script>
